<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form method = "POST" action="/getAccess" >
    <h2> register the page in the auto replying : </h2>

    <label> enter the id of the page that you are admin in : </label>
    <input type = "text" name = "page_Id" id = "page_Id"> <br><br>

    <label> enter the key_word for auto-reply posts: </label>
    <input type = "text" name = "key_word" id = "key_word"> <br><br>

    <label> enter the reply messsage : </label>
        <input type = "text" name = "reply_message" id = "reply_message"> <br>

    <input type="submit" value = "register">
    </form>


    <hr>
    <br><br>
<!--      -------------------------------------------------   -->
    <form method = "POST" action="/change_key_word" >
    <h2> change the key word of the page : </h2>

        <label> enter the id of the page that you are admin in : </label>
            <input type = "text" name = "pid" id = "pid"> <br><br>

            <label> enter the key_word for auto-reply posts: </label>
            <input type = "text" name = "key_word" id = "key_word"> <br><br>

            <label> enter the reply messsage : </label>
                    <input type = "text" name = "update_reply_message" id = "update_reply_message"> <br>

        <input type="submit" value = "update">
        </form>


</body>
</html>