<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 30%;
            margin: 83px auto;
            background-color: #ffffff;
            padding: 11px 25px;
            box-shadow: 1px 2px 11px #0000002b
        }
        .container h2{
            color: #0c8a97;
            margin-bottom: 35px
        }
        .container label{

            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            text-align: center;

        }
        .container input[type="text"]{
            border: none;
            background-color: #f1f1f1;
            display: block;
            margin: 0 auto;
            padding: 9px 45px;
            border-radius: 2px;
            outline: none;
        }
        .container input[type="submit"]
        {
            display: block;
            margin: 26px auto;
            padding: 10px 62px;
            border: none;
            cursor: pointer;
            background-color: #559bbd;
            color: white;
            font-weight: 800;
        }

    </style>
</head>
<body>

<div class = "container">
    <h2> register the page in the auto replying : </h2>
<form method = "POST" action="/getAccess" >


    <label> enter the id of the page that you are admin in : </label>
    <input type = "text" name = "page_Id" id = "page_Id"> <br><br>

    <label> enter the key_word for auto-reply posts: </label>
    <input type = "text" name = "key_word" id = "key_word"> <br><br>

    <label> enter the reply messsage : </label>
    <input type = "text" name = "reply_message" id = "reply_message"> <br>

    <input type="submit" value = "register">
</form>

    <a href="/update">to update , click here</a>

</div>


</body>
</html>