<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<% if(status == "success"){ %>

   <h2 style = "width: 50%;margin: 28px auto;text-align: center;background-color:#a2c597;color: green; padding : 15px 0px">
       <%=message%>
   </h2>


<% } if(status === "fails"){ %>
   <h2 style = "width: 50%;margin: 28px auto;text-align: center;background-color:#e7aab8;color: #b7173c; padding : 15px 0px">
       <%= message %>
          </h2>

<% } if(status === "existed"){ %>
    <h2 style = "width: 50%;margin: 28px auto;text-align: center;background-color:#5991e1;color: #1b2d4e; padding : 15px 0px">
        <%= message %>
    </h2>

<% } %>



</body>
</html>
